# flask==2.3.3
# sentence-transformers==2.7.0
# chromadb==0.4.15
# pypdf==3.15.2
# python-dotenv==1.0.0
# azure-ai-inference
# azure-core
# azure-identity
# azure-ai-projects
# gunicorn==21.2.0
# cryptography<48.0.0


streamlit==1.39.0
langchain==0.2.16
langchain-community==0.2.17
langchain-openai==0.1.25
chromadb==0.5.11
openai==1.70.0
tiktoken==0.8.0
pypdf==5.0.1
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.5.2
cryptography<48.0.0